@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  font-size: 20px;
}

.container {
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-white {
  color: white;
}

/* DESKTOP */

@media (width >= 1024px) {
  .container {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 100vh;
    width: 100vw;
  }
  .header {
    grid-column: 1/4;
    background-color: rgb(0, 0, 30);
  }
  .menu {
    grid-column: 4/11;
    background-color: rgb(255, 82, 52);
  }
  .hero {
    grid-column:1/stretch;
    grid-row: 2/8;
    background-color: rgb(0, 145, 255);
  }
  .main {
    grid-column:1/6;
    grid-row: 8/10;
    background-color: rgb(4, 35, 58);
  }
  .banner {
    grid-row: 10/11;
    grid-column: 1/11;
    background-color: rgb(255, 227, 65);
  }
  .extra {
    grid-column: 9/11;
    justify-items: stretch;
    background-color: rgba(50, 228, 1, 0.857);
  }
  .image {
    grid-column: 9/11;
    grid-auto-flow: row;
    background-color: rgba(1, 228, 198, 0.605);
  }
}


/* TABLET  */

@media (768px <= width <= 1024px) {
  .container {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 5% 10% 10% 10% 10% 10% 10% 10% 10% 10% 5%;
    height: 100vh;
    width: 100vw;
  }
  .header {
    grid-column:1/11;
    background-color: rgb(0, 0, 30);
  }
  .menu {
    grid-row:5/12;
    background-color: rgb(255, 82, 52);
  }
  .hero {
    grid-row:2/5;
    grid-column:1/11;
    background-color: rgb(0, 145, 255);
  }
  .main {
    grid-column:2/11;
    grid-row:5/8;
    background-color: rgb(4, 35, 58);
  }
  .banner {
    grid-column:2/11;
    grid-row:8/10;
    background-color: rgb(255, 227, 65);
  }
  .extra {
    grid-column:2/4;
    grid-row:10/12;
    background-color: rgba(50, 228, 1, 0.857);
  }
  .image {
    grid-row:10/12;
    background-color: rgba(1, 228, 198, 0.605);
  }
}

/* MOBILE*/

@media (425px <= width <= 768px) {
  .header {
    width: 100%;
    height: 7%;
    background-color: rgb(0, 0, 30);
  }
  .menu {
    width: 100%;
    height: 7%;
    background-color: rgb(255, 82, 52);
  }
  .hero {
    width: 100%;
    height: 22%;
    background-color: rgb(0, 145, 255);
  }
  .main {
    width: 100%;
    height: 22%;
    background-color: rgb(4, 35, 58);
  }
  .banner {
    width: 100%;
    height: 14%;
    background-color: rgb(255, 227, 65);
  }
  .extra {
    width: 100%;
    height: 14%;
    background-color: rgba(50, 228, 1, 0.857);
  }
  .image {
    width: 100%;
    height: 14%;
    background-color: rgba(1, 228, 198, 0.605);
  }
}

/* IN CASE YOU NEED --> TINY TINY TINY TINY */

/* @media (width < 425px) {

} */