* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px;
}

p {
    position: relative;
    top: 60px;
    width: 600px;
    float: left;
    margin-right: 20px;
    text-align: justify;
}

img {
    height: auto;
    width: 780px;
    float: red;
}